<div class="events" *ngIf="trainings">

    <tabset #staticTabs>
        <tab heading="Training" customClass="navTab">
            <div class="dataTable">
                <table datatable [dtOptions]="dtOptions" class="table table-striped table-hover" cellspacing="0"
                       width="100%">
                    <thead class="thead-inverse">
                    <tr>
                        <th>Datum</th>
                        <th>Beginn</th>
                        <th class="hidden-sm-down">Ende</th>
                        <th class="hidden-sm-down">Treffen</th>
                        <th>Teilnahme</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let training of trainings; let i = index;"
                        (dblclick)="showEventDetails(training);">
                        <td>{{training.date}}</td>
                        <td class="hidden-sm-down">{{training.begintime}}</td>
                        <td class="hidden-sm-down">{{training.endtime}}</td>
                        <td>{{training.gettogethertime}}</td>
                        <td>
                            <div class="innerTD col-12">
                                    <span class="badges">
                                        <span class="badge badge-pill badge-success">{{training.participationYes.length}}</span>
                                        <span class="badge badge-pill badge-warning">{{training.participationMaybe.length}}</span>
                                        <span class="badge badge-pill badge-danger pull-right">{{training.participationNo.length}}</span>
                                    </span>
                                <button [hidden]="!showButton('training', training.eventId, 'yes')"
                                        (click)="changeParticipationState('training', training.eventId, 'yes')"
                                        class="btn btn-sm btn-outline-success">
                                    <svg class="octicon" aria-hidden="true">
                                        <use xlink:href="assets/sprite.octicons.svg#thumbsup"/>
                                    </svg>
                                </button>
                                <button [hidden]="!showButton('training', training.eventId, 'maybe')"
                                        (click)="changeParticipationState('training', training.eventId, 'maybe')"
                                        class="btn btn-sm btn-outline-warning">
                                    <svg class="octicon" aria-hidden="true">
                                        <use xlink:href="assets/sprite.octicons.svg#question"/>
                                    </svg>
                                </button>
                                <button [hidden]="!showButton('training', training.eventId, 'no')"
                                        (click)="changeParticipationState('training', training.eventId, 'no')"
                                        class="btn btn-sm btn-outline-danger">
                                    <svg class="octicon" aria-hidden="true">
                                        <use xlink:href="assets/sprite.octicons.svg#thumbsdown"/>
                                    </svg>
                                </button>

                                <button [hidden]="!showParticipantsViewButton('show', training)"
                                        (click)="showParticipants4Event(training)"
                                        class="btn btn-sm btn-outline-primary">
                                    <svg class="octicon" aria-hidden="true">
                                        <use xlink:href="assets/sprite.octicons.svg#eye"/>
                                    </svg>
                                </button>
                                <button [hidden]="!showParticipantsViewButton('hide', training)"
                                        (click)="hideParticipants4Event()"
                                        class="btn btn-sm btn-outline-primary">
                                    <svg class="octicon" aria-hidden="true">
                                        <use xlink:href="assets/sprite.octicons.svg#circle-slash"/>
                                    </svg>
                                </button>
                            </div>
                            <div class="innerTD  col-12">
                                <app-participants [selectedEvent]="selectedEvent"
                                                  [event]="training"></app-participants>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </tab>
        <tab heading="Spiel" customClass="navTab">
            <div class="dataTable">
                <table datatable [dtOptions]="dtOptions" class="table table-striped table-hover" cellspacing="0"
                       width="100%">
                    <thead class="thead-inverse">
                    <tr>
                        <th>Datum</th>
                        <th>Beginn</th>
                        <th class="hidden-sm-down">Ende</th>
                        <th class="hidden-sm-down">Treffen</th>
                        <th>Teilnahme</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let match of matches; let i = index;"
                        (dblclick)="showEventDetails(match);">
                        <td>{{match.date}}</td>
                        <td>{{match.begintime}}</td>
                        <td class="hidden-sm-down">{{match.endtime}}</td>
                        <td class="hidden-sm-down">{{match.gettogethertime}}</td>
                        <td>
                            <div class="innerTD col-12">
                                <span class="badges">
                                    <span class="badge badge-pill badge-success">{{match.participationYes.length}}</span>
                                    <span class="badge badge-pill badge-warning">{{match.participationMaybe.length}}</span>
                                    <span class="badge badge-pill badge-danger pull-right">{{match.participationNo.length}}</span>
                                </span>
                                <button [hidden]="!showButton('match', match.eventId, 'yes')"
                                        (click)="changeParticipationState('match', match.eventId, 'yes')"
                                        class="btn btn-sm btn-outline-success">
                                    <svg class="octicon" aria-hidden="true">
                                        <use xlink:href="assets/sprite.octicons.svg#thumbsup"/>
                                    </svg>
                                </button>
                                <button [hidden]="!showButton('match', match.eventId, 'maybe')"
                                        (click)="changeParticipationState('match', match.eventId, 'maybe')"
                                        class="btn btn-sm btn-outline-warning">
                                    <svg class="octicon" aria-hidden="true">
                                        <use xlink:href="assets/sprite.octicons.svg#question"/>
                                    </svg>
                                </button>
                                <button [hidden]="!showButton('match', match.eventId, 'no')"
                                        (click)="changeParticipationState('match', match.eventId, 'no')"
                                        class="btn btn-sm btn-outline-danger">
                                    <svg class="octicon" aria-hidden="true">
                                        <use xlink:href="assets/sprite.octicons.svg#thumbsdown"/>
                                    </svg>
                                </button>
                                <button [hidden]="!showParticipantsViewButton('show', match)"
                                        (click)="showParticipants4Event(match)"
                                        class="btn btn-sm btn-outline-primary">
                                    <svg class="octicon" aria-hidden="true">
                                        <use xlink:href="assets/sprite.octicons.svg#eye"/>
                                    </svg>
                                </button>
                                <button [hidden]="!showParticipantsViewButton('hide', match)"
                                        (click)="hideParticipants4Event()"
                                        class="btn btn-sm btn-outline-primary">
                                    <svg class="octicon" aria-hidden="true">
                                        <use xlink:href="assets/sprite.octicons.svg#circle-slash"/>
                                    </svg>
                                </button>
                            </div>
                            <div class="innerTD  col-12">
                                <app-participants [selectedEvent]="selectedEvent"
                                                  [event]="match"></app-participants>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </tab>
        <tab heading="Turnier" customClass="navTab">
            <div class="dataTable">
                <table datatable [dtOptions]="dtOptions" class="table table-striped table-hover" cellspacing="0"
                       width="100%">
                    <thead class="thead-inverse">
                    <tr>
                        <th>Datum</th>
                        <th>Beginn</th>
                        <th class="hidden-sm-down">Ende</th>
                        <th class="hidden-sm-down">Treffen</th>
                        <th>Teilnahme</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let tournament of tournaments; let i = index;"
                        (dblclick)="showEventDetails(tournament);">
                        <td>{{tournament.date}}</td>
                        <td>{{tournament.begintime}}</td>
                        <td class="hidden-sm-down">{{tournament.endtime}}</td>
                        <td class="hidden-sm-down">{{tournament.gettogethertime}}</td>
                        <td>
                            <div class="innerTD col-12">
                                <span class="badges">
                                    <span class="badge badge-pill badge-success">{{tournament.participationYes.length}}</span>
                                    <span class="badge badge-pill badge-warning">{{tournament.participationMaybe.length}}</span>
                                    <span class="badge badge-pill badge-danger pull-right">{{tournament.participationNo.length}}</span>
                                </span>
                                <button [hidden]="!showButton('tournament', tournament.eventId, 'yes')"
                                        (click)="changeParticipationState('tournament', tournament.eventId, 'yes')"
                                        class="btn btn-sm btn-outline-success">
                                    <svg class="octicon" aria-hidden="true">
                                        <use xlink:href="assets/sprite.octicons.svg#thumbsup"/>
                                    </svg>
                                </button>
                                <button [hidden]="!showButton('tournament', tournament.eventId, 'maybe')"
                                        (click)="changeParticipationState('tournament', tournament.eventId, 'maybe')"
                                        class="btn btn-sm btn-outline-warning">
                                    <svg class="octicon" aria-hidden="true">
                                        <use xlink:href="assets/sprite.octicons.svg#question"/>
                                    </svg>
                                </button>
                                <button [hidden]="!showButton('tournament', tournament.eventId, 'no')"
                                        (click)="changeParticipationState('tournament', tournament.eventId, 'no')"
                                        class="btn btn-sm btn-outline-danger">
                                    <svg class="octicon" aria-hidden="true">
                                        <use xlink:href="assets/sprite.octicons.svg#thumbsdown"/>
                                    </svg>
                                </button>
                                <button [hidden]="!showParticipantsViewButton('show', tournament)"
                                        (click)="showParticipants4Event(tournament)"
                                        class="btn btn-sm btn-outline-primary">
                                    <svg class="octicon" aria-hidden="true">
                                        <use xlink:href="assets/sprite.octicons.svg#eye"/>
                                    </svg>
                                </button>
                                <button [hidden]="!showParticipantsViewButton('hide', tournament)"
                                        (click)="hideParticipants4Event()"
                                        class="btn btn-sm btn-outline-primary">
                                    <svg class="octicon" aria-hidden="true">
                                        <use xlink:href="assets/sprite.octicons.svg#circle-slash"/>
                                    </svg>
                                </button>
                            </div>
                            <div class="innerTD  col-12">
                                <app-participants [selectedEvent]="selectedEvent"
                                                  [event]="tournament"></app-participants>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </tab>
        <tab heading="Event" customClass="navTab">
            <div class="dataTable">
                <table datatable [dtOptions]="dtOptions" class="table table-striped table-hover" cellspacing="0"
                       width="100%">
                    <thead class="thead-inverse">
                    <tr>
                        <th>Datum</th>
                        <th>Name</th>
                        <th class="hidden-sm-down">Beginn</th>
                        <th class="hidden-sm-down">Ende</th>
                        <th>Teilnahme</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let teamevent of teamevents; let i = index;"
                        (dblclick)="showEventDetails(teamevent);">
                        <td>{{teamevent.date}}</td>
                        <td>{{teamevent.name}}</td>
                        <td class="hidden-sm-down">{{teamevent.begintime}}</td>
                        <td class="hidden-sm-down">{{teamevent.endtime}}</td>
                        <td>
                            <div class="innerTD col-12">
                                <span class="badges">
                                    <span class="badge badge-pill badge-success">{{teamevent.participationYes.length}}</span>
                                    <span class="badge badge-pill badge-warning">{{teamevent.participationMaybe.length}}</span>
                                    <span class="badge badge-pill badge-danger pull-right">{{teamevent.participationNo.length}}</span>
                                </span>
                                <button [hidden]="!showButton('teamevent', teamevent.eventId, 'yes')"
                                        (click)="changeParticipationState('teamevent', teamevent.eventId, 'yes')"
                                        class="btn btn-sm btn-outline-success">
                                    <svg class="octicon" aria-hidden="true">
                                        <use xlink:href="assets/sprite.octicons.svg#thumbsup"/>
                                    </svg>
                                </button>
                                <button [hidden]="!showButton('teamevent', teamevent.eventId, 'maybe')"
                                        (click)="changeParticipationState('teamevent', teamevent.eventId, 'maybe')"
                                        class="btn btn-sm btn-outline-warning">
                                    <svg class="octicon" aria-hidden="true">
                                        <use xlink:href="assets/sprite.octicons.svg#question"/>
                                    </svg>
                                </button>
                                <button [hidden]="!showButton('teamevent', teamevent.eventId, 'no')"
                                        (click)="changeParticipationState('teamevent', teamevent.eventId, 'no')"
                                        class="btn btn-sm btn-outline-danger">
                                    <svg class="octicon" aria-hidden="true">
                                        <use xlink:href="assets/sprite.octicons.svg#thumbsdown"/>
                                    </svg>
                                </button>
                                <button [hidden]="!showParticipantsViewButton('show', teamevent)"
                                        (click)="showParticipants4Event(teamevent)"
                                        class="btn btn-sm btn-outline-primary">
                                    <svg class="octicon" aria-hidden="true">
                                        <use xlink:href="assets/sprite.octicons.svg#eye"/>
                                    </svg>
                                </button>
                                <button [hidden]="!showParticipantsViewButton('hide', teamevent)"
                                        (click)="hideParticipants4Event()"
                                        class="btn btn-sm btn-outline-primary">
                                    <svg class="octicon" aria-hidden="true">
                                        <use xlink:href="assets/sprite.octicons.svg#circle-slash"/>
                                    </svg>
                                </button>
                            </div>
                            <div class="innerTD  col-12">
                                <app-participants [selectedEvent]="selectedEvent"
                                                  [event]="teamevent"></app-participants>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </tab>
    </tabset>
</div>
