.event {
    &.card {
        .card-title {
            display: inline;
        }
        .badges {
            float: right;
        }
        .button-bar {
            text-align: right;
        }
    }
}