<div *ngIf="team">

    <tabset #staticTabs>
        <tab heading="Spieler" customClass="navTab">
            <table class="table table-hover table-sm">
                <thead class="thead-inverse">
                <tr>
                    <th>#</th>
                    <th>Nachname</th>
                    <th>Vorname</th>
                    <th>Geburtsdatum</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let player of players; let i = index;" (dblclick)="showPersonDetails(player.personid);">
                    <th scope="row">{{i}}</th>
                    <td>{{player.lastname}}</td>
                    <td>{{player.firstname}}</td>
                    <td>{{player.birthday | date}}</td>
                </tr>
                </tbody>
            </table>
        </tab>
        <tab heading="Trainer" customClass="navTab">
            <table class="table table-hover table-sm">
                <thead class="thead-inverse">
                <tr>
                    <th>#</th>
                    <th>Nachname</th>
                    <th>Vorname</th>
                    <th>Telefon</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let coach of coaches; let i = index;" (dblclick)="showPersonDetails(player.personid);">
                    <th scope="row">{{i}}</th>
                    <td>{{coach.lastname}}</td>
                    <td>{{coach.firstname}}</td>
                    <td>{{coach.telephone}}</td>
                </tr>
                </tbody>
            </table>
        </tab>
        <tab heading="Informationen" customClass="navTab">
            <div class="card col-md-12 col-lg-6">
                <div class="card-block">
                    <ckeditor *ngIf="isAdmin()"
                            [(ngModel)]="team.info"
                            [config]="config">
                    </ckeditor>
                    <div *ngIf="!isAdmin()" [innerHTML]="team.info">
                    </div>
                    <div *ngIf="isAdmin()" class="button-bar">
                        <button class="btn btn-sm btn-outline-primary" (click)="save()">Speichern</button>
                        <button class="btn btn-sm btn-outline-secondary" (click)="goBack()">Zurück</button>
                    </div>
                </div>
            </div>
        </tab>
    </tabset>
</div>

