<div *ngIf="exercise">
    <div class="exercise-detail card col-md-12 col-lg-6">

        <div class="card-block">

            <div *ngIf="isAdmin()" class="form-group row">
                <div class="col-12 changeView">
                        <span>
                        <button [hidden]="viewMode" type="button"
                                (click)="setViewMode(true)"
                                class="btn btn-sm btn-outline-primary">
                            <svg class="octicon" aria-hidden="true">
                                <use xlink:href="assets/sprite.octicons.svg#eye"/>
                            </svg>
                        </button>
                        <button [hidden]="!viewMode" type="button"
                                (click)="setViewMode(false)"
                                class="btn btn-sm btn-outline-primary">
                            <svg class="octicon" aria-hidden="true">
                                <use xlink:href="assets/sprite.octicons.svg#tools"/>
                            </svg>
                        </button>
                            </span>
                </div>
            </div>

            <form [formGroup]="exerciseForm" (ngSubmit)="save(exerciseForm.value, exerciseForm.valid)">

                <input hidden formControlName="exerciseid">


                <!-- name -->
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Name</label>
                    <div class="col-sm-8">
                        <input formControlName="name"
                               class="col-12 form-control-static">
                        <div class="alert alert-danger" *ngIf="exerciseForm.controls.name.hasError('required')">
                            Pflichtfeld!
                        </div>
                        <div class="alert alert-danger" *ngIf="exerciseForm.controls.name.hasError('maxlength')">
                            Max. Länge: 100 Zeichen
                        </div>
                    </div>
                </div>

                <!-- type -->
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Typ</label>
                    <div class="col-sm-8">
                        <select formControlName="exercisetype" class="form-control">
                            <option *ngFor="let exercisetype of exerciseTypes()" value="{{exercisetype}}">
                                {{getExerciseTypStr(exercisetype)}}
                            </option>
                        </select>

                    </div>
                </div>

                <!-- graphics -->
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Grafik</label>
                    <div class="col-sm-8">

                        <div class="col-12 form-control-static exercise-detail--graphic">

                            <div [hidden]="graphicError ===''"
                                 class="alert alert-danger fade show"
                                 role="alert">
                                {{graphicError}}
                            </div>

                            <img class="exerciseDetail--foto img-thumbnail rounded" [src]="exercise.graphic"
                                 onError="this.src='assets/placeholder_graphic.png';"/>

                            <label [hidden]="viewMode" for="graphicFile" class="btn btn-sm btn-outline-primary">
                                Bild wählen</label>
                            <input id="graphicFile" hidden type="file"
                                   accept="image/jpeg, image/png"
                                   (change)="changeListner($event)"/>
                        </div>
                    </div>
                </div>

                <!-- setup -->
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Setup</label>
                    <div class="col-sm-8">

                        <ckeditor *ngIf="!viewMode"
                                  formControlName="setup"
                                  [config]="config">
                        </ckeditor>
                        <div *ngIf="viewMode" [innerHTML]="exerciseForm.controls['setup'].value"></div>
                        <div class="alert alert-danger" *ngIf="exerciseForm.controls.setup.hasError('maxlength')">
                            Max. Länge: 500 Zeichen
                        </div>
                    </div>
                </div>

                <!-- execution -->
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Ausführung</label>
                    <div class="col-sm-8">

                        <ckeditor *ngIf="!viewMode"
                                  formControlName="execution"
                                  [config]="config">
                        </ckeditor>
                        <div *ngIf="viewMode" [innerHTML]="exerciseForm.controls['execution'].value"></div>

                        <div class="alert alert-danger" *ngIf="exerciseForm.controls.execution.hasError('maxlength')">
                            Max. Länge: 2000 Zeichen
                        </div>
                    </div>
                </div>

                <!-- variants -->
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Varianten</label>
                    <div class="col-sm-8">
                        <ckeditor *ngIf="!viewMode"
                                  formControlName="variants"
                                  [config]="config">
                        </ckeditor>
                        <div *ngIf="viewMode" [innerHTML]="exerciseForm.controls['variants'].value"></div>
                        <div class="alert alert-danger" *ngIf="exerciseForm.controls.variants.hasError('maxlength')">
                            Max. Länge: 500 Zeichen
                        </div>
                    </div>
                </div>

                <!-- note -->
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Bemerkung</label>
                    <div class="col-sm-8">
                        <ckeditor *ngIf="!viewMode"
                                  formControlName="note"
                                  [config]="config">
                        </ckeditor>
                        <div *ngIf="viewMode" [innerHTML]="exerciseForm.controls['note'].value"></div>
                        <div class="alert alert-danger" *ngIf="exerciseForm.controls.note.hasError('maxlength')">
                            Max. Länge: 500 Zeichen
                        </div>
                    </div>
                </div>

                <div class="button-bar">
                    <button *ngIf="isAdmin() && !viewMode" [disabled]="exerciseForm.invalid"
                            class="btn btn-sm btn-outline-primary"
                            type="submit">Speichern
                    </button>
                    <button class="btn btn-sm btn-outline-secondary" (click)="goBack()">Zurück</button>
                </div>

            </form>
        </div>


    </div>
</div>