@import 'variables';

/** Common styles for the tab panels. */
.nav-item.navTab a {
  color: #999999;
}

.nav-item.navTab a:hover {
  color: #535353;
}

.container {
  border-left: 1px solid $dark-grey-color;
  border-right: 1px solid $dark-grey-color;
  height: 100%;
}

/** cards */
.card {
  .card-title {
    display: inline;
  }
  .col-form-label {
    font-weight: bold;
  }
  .badges {
    float: right;
  }
  .button-bar {
    margin-top: 20px;
    text-align: right;
  }
}

/** button to switch view mode */
.changeView {
  text-align: right;
}

/** tables */
.dataTable {

  padding-top: 15px;
}