@import 'variables';

.container {
  border-left: 1px solid $dark-grey-color;
  border-right: 1px solid $dark-grey-color;
  height: 100%;
}

.card {
  .card-title {
    display: inline;
  }
  .badges {
    float: right;
  }
  .button-bar {
    text-align: right;
  }
}