<div class="container">
    <div *ngIf="sessionData">
        <nav class="navbar navbar-toggleable-md fixed-top navbar-light">
            <h1 class="navbar-brand">KickApp</h1>
            <button class="navbar-toggler navbar-toggler-left" type="button" data-toggle="collapse"
                    data-target="#kickapp-navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="kickapp-navbar-collapse">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/dashboard', sessionData.teamid]"
                           routerLinkActive="active">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           [routerLink]="['events', sessionData.teamid]"
                           routerLinkActive="active">Termine</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           [routerLink]="['/team', sessionData.teamid]" routerLinkActive="active">Mannschaft</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/clubdetail', sessionData.clubid]"
                           routerLinkActive="active">Verein</a>
                    </li>
                    <li *ngIf="isAdmin()" class="nav-item">
                        <a class="nav-link" [routerLink]="['/exercises']" routerLinkActive="active">Übungen</a>
                    </li>
                    <li *ngIf="isAdmin()" class="nav-item">
                        <a class="nav-link" [routerLink]="['/pushNotification']"
                           routerLinkActive="active">Push-Nachricht</a>
                    </li>

                </ul>

            </div>
        </nav>
    </div>

    <div style="height: 75px;"></div>

    <div>
        <router-outlet></router-outlet>
    </div>
</div>