<div *ngIf="event">
    <div class="event-detail card col-md-12 col-lg-6">

        <img class="card-img-top" [src]="getEventImage(event.eventType)" alt="Card image cap">

        <div class="card-block">


            <div *ngIf="isAdmin()" class="form-group row">
                <div class="col-12 changeView">
                        <span>
                        <button [hidden]="viewMode" type="button"
                                (click)="setViewMode(true)"
                                class="btn btn-sm btn-outline-primary">
                            <svg class="octicon" aria-hidden="true">
                                <use xlink:href="assets/sprite.octicons.svg#eye"/>
                            </svg>
                        </button>
                        <button [hidden]="!viewMode" type="button"
                                (click)="setViewMode(false)"
                                class="btn btn-sm btn-outline-primary">
                            <svg class="octicon" aria-hidden="true">
                                <use xlink:href="assets/sprite.octicons.svg#tools"/>
                            </svg>
                        </button>
                            </span>
                </div>
            </div>

            <form [formGroup]="eventForm" (ngSubmit)="save(eventForm.value, eventForm.valid)">

                <!-- Datum -->
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Datum</label>
                    <div class="col-sm-8">
                        <input formControlName="date" type="date" class="col-12 form-control-static">
                        <div class="alert alert-danger" *ngIf="eventForm.controls.date.hasError('required')">
                            Pflichtfeld!
                        </div>
                    </div>
                </div>

                <!-- Teilnahme -->
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Teilnahme</label>
                    <div class="col-sm-8">
                    <span class="badges">
                        <span class="badge badge-pill badge-success">{{event.participationYes.length}}</span>
                        <span class="badge badge-pill badge-warning">{{event.participationMaybe.length}}</span>
                        <span class="badge badge-pill badge-danger pull-right">{{event.participationNo.length}}</span>
                        <button *ngIf="!selectedEvent"
                                (click)="selectEvent()"
                                class="btn btn-sm btn-outline-primary">
                            <svg class="octicon" aria-hidden="true">
                                <use xlink:href="assets/sprite.octicons.svg#eye"/>
                            </svg>
                        </button>
                        <button *ngIf="selectedEvent"
                                (click)="unselectEvent()"
                                class="btn btn-sm btn-outline-primary">
                            <svg class="octicon" aria-hidden="true">
                                <use xlink:href="assets/sprite.octicons.svg#circle-slash"/>
                            </svg>
                        </button>
                    </span>
                    </div>
                    <div class="col-sm-12 col-md-8 offset-md-4">
                        <app-participants [selectedEvent]="selectedEvent"
                                          [event]="event"></app-participants>
                    </div>
                </div>

                <!-- Uebungen -->
                <div *ngIf="isTraining()" class="form-group row">

                    <label class="col-sm-4 col-form-label">Übungen</label>
                    <div class="col-sm-8">

                        <div *ngIf="!viewMode" class="col-12 exercises btn-group">
                            <select (change)="onExerciseChange($event.target.value)"
                                    class="event-detail-exercise form-control">
                                <option *ngFor="let exercise of allExercises" value="{{exercise.exerciseid}}">
                                    {{exercise.name}}
                                </option>
                            </select>
                            <span (tap)="addExercise()"
                                  class="btn btn-sm btn-outline-primary">
                                <svg class="octicon" aria-hidden="true">
                                    <use xlink:href="assets/sprite.octicons.svg#plus"/>
                                </svg>
                            </span>
                        </div>


                        <div class="col-12 exercises">
                            <ul formArrayName="exercises" class="list-group">

                                <li *ngFor="let exercise of assignedExercises"
                                    class="list-group-item justify-content-between">
                                    <a (tap)="showExerciseDetail(exercise.exerciseid)">{{exercise.name}}</a>
                                    <button *ngIf="!viewMode" (tap)="removeExercise(exercise.exerciseid)"
                                            class="btn btn-sm btn-outline-danger">
                                        <svg class="octicon" aria-hidden="true">
                                            <use xlink:href="assets/sprite.octicons.svg#x"/>
                                        </svg>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Treffen um -->
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Treffen</label>
                    <div class="col-sm-8">
                        <input formControlName="gettogethertime" type="time"
                               class="col-12 form-control-static">
                    </div>
                </div>

                <!-- Beginn um -->
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Beginn</label>
                    <div class="col-sm-8">
                        <input formControlName="begintime" type="time"
                               class="col-12 form-control-static">
                    </div>
                </div>

                <!-- Ende um -->
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Ende</label>
                    <div class="col-sm-8">
                        <input formControlName="endtime" type="time"
                               class="col-12 form-control-static">
                    </div>
                </div>

                <!-- Straße -->
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Straße</label>
                    <div class="col-sm-8">
                        <input formControlName="street" type="text"
                               class="col-12 form-control-static">
                    </div>
                </div>

                <!-- Postleitzahl -->
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Postleitzahl</label>
                    <div class="col-sm-8">
                        <input formControlName="zipcode" type="text"
                               class="col-12 form-control-static">
                    </div>
                </div>

                <!-- Ort -->
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Ort</label>
                    <div class="col-sm-8">
                        <input formControlName="city" type="text"
                               class="col-12 form-control-static">
                    </div>
                </div>


                <div class="button-bar">
                    <button *ngIf="isAdmin() && !viewMode" [disabled]="eventForm.invalid"
                            class="btn btn-sm btn-outline-primary" type="submit">Speichern
                    </button>
                    <button class="btn btn-sm btn-outline-secondary" (click)="goBack()">Zurück</button>
                </div>

            </form>
        </div>
    </div>
</div>