<div *ngIf="event" class="card event">
    <img (click)="showEventDetails()" class="card-img-top" src="../../assets/training.jpg" alt="Card image cap">
    <div class="card-block">

        <h4 class="card-title">Training</h4>
        <span class="badges">
        <span class="badge badge-pill badge-success">{{event.participationYes.length}}</span>
        <span class="badge badge-pill badge-warning">{{event.participationMaybe.length}}</span>
        <span class="badge badge-pill badge-danger pull-right">{{event.participationNo.length}}</span>
      </span>
        <div class="row">

            <div class="card-text col-6">Datum:</div>
            <div class="card-text col-6">{{event.date | date}}</div>

            <div class="card-text col-6">Treffen:</div>
            <div class="card-text col-6">{{event.gettogethertime}}</div>

            <div class="card-text col-6">Start:</div>
            <div class="card-text col-6">{{event.begintime}}</div>

            <div class="card-text col-6">Ende:</div>
            <div class="card-text col-6">{{event.endtime}}</div>

            <div class="card-text col-12">Adresse:</div>
            <div class="card-text col-12">{{event.street}}, {{event.city}}</div>
        </div>
        <div class="button-bar">
            <button [hidden]="!showButton('yes')" (click)="changeParticipationState('yes')"
                    class="btn btn-sm btn-success">Teilnehmen
            </button>
            <button [hidden]="!showButton('maybe')" (click)="changeParticipationState('maybe')"
                    class="btn btn-sm btn-warning">Vielleicht
            </button>
            <button [hidden]="!showButton('no')" (click)="changeParticipationState('no')" class="btn btn-sm btn-danger">
                Absagen
            </button>
        </div>
    </div>
</div>
