<div class="card event">
    <img class="card-img-top" src="../../assets/training.jpg" alt="Card image cap">
    <div class="card-block">

        <h4 class="card-title">Training</h4>
        <span class="badges">
        <span class="badge badge-pill badge-success">12</span>
        <span class="badge badge-pill badge-warning">2</span>
        <span class="badge badge-pill badge-danger pull-right">4</span>
      </span>
        <div class="row">
            <div class="card-text col-6">Datum:</div>
            <div class="card-text col-6">Start:</div>
            <div class="card-text col-6">Treffen:</div>
            <div class="card-text col-6">Ende:</div>
            <div class="card-text col-12">Adresse:</div>
        </div>
        <div class="button-bar">
            <a href="#" class="btn btn-sm btn-outline-primary">Teilnehmen</a>
            <a href="#" class="btn btn-sm btn-outline-primary">Vielleicht</a>
            <a href="#" class="btn btn-sm btn-outline-primary">Absagen</a>
        </div>
    </div>
</div>
