<div *ngIf="club">
    <div class="card col-md-6">

        <img *ngIf="club.logo" class="card-img-top" src="..." alt="Card image cap">
        <div class="card-block">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Vereinsname</label>
                <div class="col-sm-8">
                    <input [disabled]="!isAdmin()" [(ngModel)]="club.name" type="text"
                           class="form-control-static">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Straße</label>
                <div class="col-sm-8">
                    <input [disabled]="!isAdmin()" [(ngModel)]="club.street" type="text" class="form-control-static">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Postleitzahl</label>
                <div class="col-sm-8">
                    <input [disabled]="!isAdmin()" [(ngModel)]="club.zipcode" type="text" class="form-control-static">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Ort</label>
                <div class="col-sm-8">
                    <input [disabled]="!isAdmin()" [(ngModel)]="club.city" type="text" class="form-control-static">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Kontakt</label>
                <div class="col-sm-8">
                    <input [disabled]="!isAdmin()" [(ngModel)]="club.contact" type="text" class="form-control-static">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">E-Mail</label>
                <div class="col-sm-8">
                    <input [disabled]="!isAdmin()" [(ngModel)]="club.email" type="email" class="form-control-static">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Telefon</label>
                <div class="col-sm-8">
                    <input [disabled]="!isAdmin()" [(ngModel)]="club.telefon" type="text" class="form-control-static">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Web</label>
                <div class="col-sm-8">
                    <input [disabled]="!isAdmin()" [(ngModel)]="club.web" type="url" class="form-control-static">
                </div>
            </div>
        </div>

        <div *ngIf="isAdmin()" class="button-bar">
            <button class="btn btn-sm btn-outline-primary" (click)="save()">Speichern</button>
            <button class="btn btn-sm btn-outline-secondary" (click)="goBack()">Zurück</button>
        </div>
    </div>
</div>




